<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
    </script>
    <script src="application.js"></script>
    <script src="polling.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>JS Raffler</title>
  </head>
  <body>

<div class="login">
<div class="login-triangle"></div>
<h2 class="login-header">Register Participant</h2>
  <form id="new-entrant-form" class="login-container" action="api/raffles/<%= raffle.id %>/entrants" method="post">
    <p><input type="text" placeholder="Name" name="username" autofocus required></p>
    <p><input type="submit" name="new-username-submit" value="Register"></p>
  </form>
</div>

    <a class="default-btn" href="/raffles/<%= raffle.id %>/run">Start First Round</a>

    <table class="raffle-list" id="raffle-list">
    </table>

    <% if (raffle.active == true) { %>
      <form class="login" action="/raffles/<%= raffle.id %>/end" method="post">
        <input type="submit" name="submit" value="End Raffle">
      </form>
    <% } else { %>
<<<<<<< HEAD
      <form class="login" action="/raffles" method="get">
        <input type="submit" name="submit" value="Exit Raffle">
      </form>
=======

      <a class="default-btn" href="/raffles">Exit Raffle</a>

>>>>>>> release/0.7.0
    <% } %>
  </body>
</html>
