<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>JS Raffler</title>
  </head>
  <body>
    <div class="login" id="login">
    <h2>SDJS Raffler</h2>
    <div class="login-triangle"></div>
      <h2 class="login-header">Log in</h2>
      <form class="login-container" action="/login" method="post">
        <p><input type="email" placeholder="Email" name="email" value="admin@sdjs-raffle.com"></p>
        <p><input type="password" placeholder="Password" name="password" value="sdjspassword"></p>
        <p><input type="submit" value="Log in"></p>
      </form>
    </div>
    </body>
</html>
