<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SDJS Raffler</title>
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <h1>SDJS Raffler</h1>
    <% if (typeof username !== 'undefined') { %>
      <h3>Welcome <%= username %></h3>
      <form action='/raffles' method="post" class="login">
        <input type="submit" name="submit" value="Create New Raffle">
      </form>
    <% } else { %>

      <a class="default-btn" id="login-btn" href="/login">Login</a>

    <% } %>

    <table class="raffle-list" id="raffle-list">
      <tr class="raffle-list-item">
        <th class="raffle-info">Raffle Date</th>
        <th class="raffle-info">Active</th>
      </tr>

      <% for ( var i = raffles.length - 1; i >= 0; i--) { %>
      <tr class="raffle-list-item">
        <td class="raffle-info"><a href="/raffles/<%= raffles[i].id %>"><%= raffles[i].date.toLocaleString() %></a></td>
        <td class="raffle-info"><%= raffles[i].active %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
