<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
  </script>
  <script src="application.js"></script>
  <title>JS Raffler</title>
</head>

<body>
  
  <p>Raffle #:
    <%= raffle.id %>
  </p>
  <p>Date: <span><%= raffle.date.toLocaleDateString() %></span></p>

  You have been registered. Your confirmation number is:

  <%= entrant.id %>

</body>
</html>
