html {
    background-color: blue;
    background: -webkit-linear-gradient(-90deg, #2cb5e8, #0fb8ad);
    background: -o-linear-gradient(-90deg, #2cb5e8, #0fb8ad);
    background: -moz-linear-gradient(-90deg, #2cb5e8, #0fb8ad);
    background: linear-gradient(-90deg, #2cb5e8, #0fb8ad);
  }

.table-shadow {
  text-shadow: 2px 2px 8px #c8c9c0;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 8px #c8c9c0;
  font-size: 100px
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 8px #c8c9c0;
  font-size: 70px
}

h3 {
  text-align: center;
  font-family: 'Lato', 'Arial', 'Helvetica' ;
  text-shadow: 2px 2px 8px #c8c9c0;
  font-size: 65px;
  margin: 0;
}

h4 {
  text-align: center;
  font-family: 'Lato', 'Arial', 'Helvetica' ;
  font-size: 40px;
}

body {
  background: transparent;
  font-family: 'Lato', 'Arial', 'Helvetica' ;
  text-align: center;
}

.hidden {
  display: none;
}

.login {
  width: 400px;
  margin: 50px auto;
  font-size: 16px;
}

.raffle-list {
  padding-top: -100px;
  width: 400px;
  margin: 50px auto;
  font-size: 16px;
}

.raffle-info {
  background-color: white;
  padding: 10px;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}


/**************************************************************/
.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}
/**************************************************************/

.default-btn:hover {
  background: #17c;
}

/* Buttons' focus effect */
.default-btn:focus {
  border-color: #05a;
}

.default-btn {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  width: 400px;
  margin: 0 auto;
  text-decoration: none;
}

/**************************************************************/

.center {
  text-align: center;
}

li {
  list-style: none;
}

.nametext {
  transform: rotate(90deg) translateY(-40px);
  transform-origin: left top 0;
  background-color: #ffffe6;
}

/*MODAL*/
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    position: fixed;
    left: 10%;
    right: 10%;
    bottom: 550px;
    height: 50%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #2cb5e8;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.names_row{
  padding-left: 100px;
}

#button-div{
  padding-top: 60px;
}

#message_winner {
  font-size: 95px;
}

#fixed-row {
margin-bottom: 50px;

}

#entrants-list {
  font-size: 30px;
}

.entrants_list {
  font-size: 35px;
}

#start_round {
  margin-top: -60px;
}
