<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JS Raffler</title>
  </head>
  <body>
    <h1>JS Raffler</h1>
    <table border=1 cellpadding=5>
      <tr>
        <th>Login</th>
      </tr>
      <tr>
        <td><a href="/raffles">Guest</a></td>
      </tr>
      <tr>
        <td>
          <form action="/login" method="post">
            <input type="text" name="email" value="john@doe.com" placeholder="Email"><br>
            <input type="password" name="password" value="opensesame" placeholder="Password"><br>
            <input type="submit" value="Login">
          </form>
        </td>
      </tr>
      <% if (loginFailed) { %>
        <tr>
          <td colspan=6>
              <span style="color:red">Login failed, please try again</span>
          </td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
