<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JS Raffler</title>
  </head>
  <body>
  <h1>JS Raffler<% if (typeof username !== 'undefined') { %> - Welcome <%=
      username %><% } %></h1>

      <% if (typeof username !== 'undefined') { %>
      <form action='/new_raffle'>
        <input type="submit" name="submit" value="New Raffle">
      </form>
      <% } %>

    <table border=1 cellpadding=5>
      <tr>
        <th>Raffles</th>
        <th>Winners</th>
      </tr>

      <% for ( var i = 0; i < raffles.length; i++) { %>
      <tr><td><%= raffles[i].date %></td><td>winners</td></tr>
      <% } %>

      <tr>
        <td><a href="/api/raffles<% if (typeof accessToken !== 'undefined') {
            %>?access_token=<%= accessToken %><% } %>">View all
            raffles</a></td>
        <td><a href="/api/raffles/list-raffles">List raffles</a></td>
      </tr>
    </table>
  </body>
</html>
